<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Nosotros</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">PackWall es una billetera electrónica que ayuda a organizar de mejor manera nuestros gastos y ganancias</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Tu puedes crear la tuya, y hacer de esta experiencia algo único, maneja de mejor manera tus ingresos y organiza tus gastos</p></div>
                </div>
               
            </div>
        </section>