{{>head}}

<div class="container cont">
    <div class="row  justify-content-center">
        <div class="col-md-12-m-t-md">
            <p class="title"> 1000 </p>
        </div>
        <div class="col-md-12">
            <form method="post" class="form-inline justify-content-center" action="/">
                <div class="form-group mb-2">
                    <input  type="text"  class="form-control fc"  placeholder="Description" name="description"/>
                </div>
                <div class="input-group ms-sm-2 mb-2">
                        <input 
                            type="text"
                            class="form-control fc"
                            name="amount"
                            placeholder="$"
                        />
                </div>
                    <button  type="Submit" class="btn btn-primary mb-2" >
                        Agregar
                    </button>
            </form>
        </div>
    </div>
    <div class="m-t-md">
        <table class="table table-hover table-dark tableFixHead" >
            <tbody>
                <tr>
                    <td scope="row" >sdf</td>
                    <td scope="row">dfs</td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>
{{>footer}}
{{>cr}}
{{>end}}