<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout example · Bootstrap v5.1</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="assets\css\form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/img/functions/cuenta.png" alt="" width="72" height="57">
      <h2>Registro</h2>
      <p class="lead">Ingresa tu informacion para completar tu registro y puedas tener una mejor experiencia con nosotros.</p>
    </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Informacion</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Primer Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Debes completar este formulario.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Debes completar este formulario.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Nombre Usuario</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
              <div class="invalid-feedback">
                  Debes tener un nombre de usuario.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="usuario@____.com"value="" required>
              <div class="invalid-feedback">
                Porfavor ingresa un correo electronico valido.
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"value="" required>
            </div>
            
            <div class="col-12">
              <label for="address" class="form-label">Direccion</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Ciudad" required>
              <div class="invalid-feedback">
                Porfavor ingresa una direccion.
              </div>
            </div>

            <div class="col-12">
              <label for="cedula" class="form-label">Cedula<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="cedula" placeholder="Ingese su numero de cedula"value="" required>
              <div class="invalid-feedback">
                Porfavor ingresa su cedula.
              </div>
            </div>

            <div class="col-12">
              <label for="telef" class="form-label">Telefono<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="telef" placeholder="Ingese su numero de contacto"value="" required>
              <div class="invalid-feedback">
                Porfavor ingresa un numero de contacto.
              </div>
            </div>

            <div class="col-md-5">
              <label for="edad" class="form-label">Edad</label>
              <input type="text" class="form-control" id="edad" placeholder="Ingese su edad"value="" required>
              <div class="invalid-feedback">
                Porfavor ingrese su edad.
              </div>
            </div>

          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">GUARDAR</button>
        </form>

        <script>
          (function(){
            var formulario=document.getElementsByClassName('')[0];
                elementos=formulario.elements,
                boton=document.getElementsById('btn');
            
            var validar = function(){
              validar.Nombre();
            }
            formulario.addEventListener("submit",validar);
          })
        </script>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021-2022 PackWall</p>
  </footer>
</div>
       <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/form-validation.js"></script>
  </body>
</html>